-e git+https://github.com/e2crawfo/clify.git@d236061#egg=clify
dill==0.2.6
future==0.16.0
gym==0.9.5
iso8601==0.1.12
imageio==2.2.0
matplotlib==2.1.0
numpy==1.13.3
pandas==0.21.0
opencv-python==4.2.0.32
psutil==5.7.0
pytest==3.3.0
pytest-env==0.6.2
python-dateutil==2.6.1  # To satisfy botocore
scikit-image==0.13.1
scikit-learn==0.19.1
tabulate==0.8.2

# Probably want to install tensorflow separately.
# tensorflow==1.13.2

# optional

# html_report
beautifulsoup4==4.8.0
dominate==2.3.5

# parallel training
mpi4py==3.0.2

# colorful output
colorama==0.4.1
