-e git+https://github.com/e2crawfo/clify.git@v0.2#egg=clify
dill==0.2.6
future==0.16.0
gym==0.9.4
matplotlib==2.1.0
-e git+https://github.com/e2crawfo/mnist_arithmetic.git@v0.2.4#egg=mnist_arithmetic
numpy==1.13.3
pandas==0.21.0
progressbar2==3.34.3
psutil==5.4.1
pyskiplist==1.0.0
pytest==3.3.0
scikit-image
scipy==1.0.0
tabulate==0.8.2
tensorflow==1.4.0
