-e git+https://github.com/e2crawfo/clify.git@master#egg=clify
dill==0.2.6
future
gym==0.9.5
-e git+https://github.com/e2crawfo/gym-recording.git@master#egg=gym_recording
iso8601
kmodes
matplotlib
numpy>=1.7
pandas
progressbar2
psutil
pyskiplist
pytest
pytest-env
scikit-image
scikit-learn
scipy
tabulate
