-e git+https://github.com/e2crawfo/clify.git@v0.2#egg=clify
future
gym
matplotlib
-e git+https://github.com/e2crawfo/mnist_arithmetic.git@v0.2.4#egg=mnist_arithmetic
numpy>=1.7
pandas
progressbar2
psutil
pyskiplist
pytest
scipy
tabulate
tensorflow
